
<%= form_with(model: [ @article, @article.comments.build ], local: true) do |form| %>
  
  
      <p>
        <%= form.label :account_id %><br>
        <%= form.select :account_id, Account.all.map { |acc| [acc.name, acc.id]} %>
    </p>
  
  
  





  <p>
    <%= form.label :body %><br>
    <%= form.text_area :body %>
  </p>
  <p>
    <%= form.submit %>
  </p>
<% end %>